doctype html
include ./mixins.jade
html
  head
    title= document.title
    !{ getBlock("meta").toHTML() }
    !{ getBlock("styles").add(['/styles/main.css']).toHTML() }
  body
    +head()
    +renderMenu(document)
    +renderRelated(getRelatedDocuments())
    div.navigation!= getNavLinks()
    +title(document.title)
    if document.humanDate
      div= document.humanDate
    +renderPages()
    +content(content)
