mixin head()
  div.topbar
    img.logo(src="/images/logo.svg")
    div= site.title
    div.small= 'generated '+site.date

mixin title(title)
  div.topbar
    h1= title

mixin content(content)
  div.content!= content

mixin menu(documents)
  div.menu
    a(href='/') home
    each document in documents
      a(href=document.url)= document.title

mixin renderRelated(documents)
  div related
  ul
    each document in documents
      li
        a(href=document.url)= document.title

mixin renderMenuItems(menuItems)
  ul
    each menuItem in menuItems
      li
        if menuItem.state != 'current'
          a(href=menuItem.url)= menuItem.title
          if menuItem.children
            div.children
                +renderMenuItems(menuItem.children)
        else
          span= menuItem.title
          if menuItem.children
            +renderMenuItems(menuItem.children)

mixin renderMenu(document)
  div.newMenu
    +renderMenuItems(generateMenu(document.url, "all"))

mixin renderPages(collection)
  if document.pagedCollection
    - var pageNumber = 0
    each pagedDocument in getPageCollection(document.pagedCollection).toJSON()
      div
        a(href=pagedDocument.url)= pagedDocument.title
    div
      if hasPrevPage()
        span
          a(href=getPrevPage()) <
      else
        span <
      while pageNumber < document.page.count
        if document.page.number == pageNumber
          span.active= pageNumber + 1
        else
          span
            a(href=getPagedUrl(pageNumber))= pageNumber + 1
        - pageNumber++
      if hasNextPage()
        span
          a(href=getNextPage()) >
      else
        span >
