mixin head()
  div.topbar
    img.logo(src="/images/logo.svg")
    div= site.title
    div.small= 'generated '+site.date

mixin title(title)
  div.topbar
    h1= title

mixin content(content)
  div.content!= content

mixin menu(documents)
  div.menu
    a(href='/') home
    each document in documents
      a(href=document.url)= document.title
